@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


html {
  color: #2a2a2a;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background-color: rgba(250, 255, 231, 1);
}

h1 {
  color: rgba(128, 132, 137, 1);
  text-align: center;
  font-weight: 300;
}

div {
cursor:pointer;
}

#content {
  width:100%;
  height:auto;
  max-width:580px;
    display:block;
    text-align:center;
    margin:0 auto;
    padding: 20px 0;


 
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px;
  max-width:550px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 100px;
  text-align: center;
    
}



#slider ul li img {
    display:block;
    float:left;
  width:30%;
  height:auto;
  max-height:100px;

}

.btnLeft {
    position:absolute;
    z-index:20;
     top:25px;
    background-image: url('../img/btn-left.png');
	background-repeat:no-repeat;
	height:61px;
    width:26px;
    overflow:hidden;
}

.btnRight {
    position:absolute;
    z-index:20;
     top:25px;
    right:0;
    background-image: url('../img/btn-right.png');
	background-repeat:no-repeat;
    height:62px;
    width:20px;
    overflow:hidden;
}

.btnModal-left {
position:absolute;
    z-index:999;
	height:61px;
    width:26px;
    overflow:hidden;
left:0!important;

}

.btnModal-right {
position:absolute;
    z-index:999;
    height:61px;
    width:20px;
    overflow:hidden;
right:0!important;
}

.btnModal-left img, .btnModal-right img {
width:100%;
max-width:100%;
height:auto;
}

.imageDisplay {
position: absolute;
z-index: 999;
height: auto;
width: 100%;
overflow: hidden;
max-width: 800px;
display: block;
top: 40%;
height: 61px;
}

.imageDisplay-wrapper {
position: relative;
display: block;
width: auto;
max-width: 800px;
height: auto;
}

.imageDisplay button {
position:absolute;
    z-index:999;
width: 100%;
height:61px;
width:20px;
overflow: hidden;
  border:none!important;
  outline:none!important;

}


.prev-b {
  left:0!important;
background: url('../img/btn-left.png');
background-repeat: no-repeat;
border: none;
background-size: cover;
-webkit-background-size: cover;
background-position: center center;
height:61px;
width:20px;
}

.next-b {
right: 0!important;
background: url('../img/btn-right.png');
background-repeat: no-repeat;
background-size: cover;
-webkit-background-size: cover;
background-position: center center;
border: none;
height:61px;
width:20px;

  
}

.gallery li p, .gallery li a  {
display:none;
}

.dark-wrapper {
display:block;
    position:relative;
    float:left;
  width:auto;
  height:auto;
border-right:2px solid #fff;
max-height:100px;


}

div.dark-wrapper:last-child {
    padding:0!important;
}



.slide-title {
    position:absolute;
    bottom:0;
    left:0;
    display:none;
    width:100%;
    height:100px;
    background:rgba(0,0,0,.5);
    color:#fff;
    z-index:10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
padding-top: 40px;

}

.title {
color:#5C5C5C;
font-weight:bold;
margin-top:0;
}

#modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .80;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=80);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;    
    display: none;
    min-width:50px;
    padding: 10px 10px 20px 10px;
    position: fixed;
    z-index: 1000;
	max-width:600px;

}


.modal-content img {
    display:block;
	position:relative;
    width:100%;
	max-width:100%;
    height:auto;
}

.modal-close {
position: absolute;
z-index: 9999;
right: 15px;
top: 15px;
width: 20px;
height: 20px;
display: block;
background-image: url('../img/close-nice.png');
background-repeat:no-repeat;
 background-size: cover;
-webkit-background-size:cover;
-o-background-size:cover;
-moz-background-size:cover;
overflow:hidden;

}

.link{
  background: #7a7a7a;
  background-image: -webkit-linear-gradient(top, #7a7a7a, #7a7a7a);
  background-image: -moz-linear-gradient(top, #7a7a7a, #7a7a7a);
  background-image: -ms-linear-gradient(top, #7a7a7a, #7a7a7a);
  background-image: -o-linear-gradient(top, #7a7a7a, #7a7a7a);
  background-image: linear-gradient(to bottom, #7a7a7a, #7a7a7a);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border: solid #d2d5d6 2px;
  text-decoration: none;
  width: 100%;
display: block;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

.link:hover {
  background: #858585;
  background-image: -webkit-linear-gradient(top, #858585, #949194);
  background-image: -moz-linear-gradient(top, #858585, #949194);
  background-image: -ms-linear-gradient(top, #858585, #949194);
  background-image: -o-linear-gradient(top, #858585, #949194);
  background-image: linear-gradient(to bottom, #858585, #949194);
  text-decoration: none;
}


#modal-background.active, .modal-content.active, .image-title.active  {
    display: block;
}

@media only screen 
and (max-width : 330px) {

#content {
    max-width:330px;
}
    
#slider {
max-width: 280px;
}
    
    
 
}

@media only screen 
and (max-width : 300px) {
#content {
    max-width:200px;
}
    
    .btnRight {
   
    right:0;
   
}
    
    

}


@media only screen 
and (max-width : 200px) {
#slider {
    display:none;
}
   
    
}
